@import './shared/vars.css';
@import './shared/fonts.css';
@import './shared/header.css';
@import './shared/homeUser.css';
@import './shared/adminMovie.css';
@import './shared/formAdd.css';

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background: linear-gradient(
		to right,
		var(--color-background-dark),
		var(--color-background-light)
	);
	font-family: 'Montserrat';
	font-size: 20px;
	color: var(--color-text-light);
}

.container {
	max-width: 1200px;
	margin: auto;
	margin-bottom: 3rem;
}

.inner-container {
	margin: 0 2rem;
}
