<div class="header-nav mt-5 mb-5 d-flex flex-wrap justify-content-between align-items-center">
	<h1>Movie Logger</h1>
	<nav class="nav nav-pills nav-fill">
		<a class="header-nav-item nav-link active" href="/api/admin/movie/all">Movies</a>
        <a class="header-nav-item nav-link" href="/api/admin/actor/all">Actors</a>
        <a class="header-nav-item nav-link" href="/api/admin/director/all">Directors</a>
	</nav>
</div>

<button class="logout-button btn" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"href=""><i class="fas fa-ellipsis-v"></i></button>

<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li class="dropdown-item disabled">Hello There</li>
    <li><a class="dropdown-item" href="/auth/logout">Logout</a></li>
</ul>




