<div class="header-nav mt-5 mb-5 d-flex flex-wrap justify-content-between align-items-center">
	<h1>Movie Logger</h1>
	<div class="box-container">
		<form method="GET" class="form-header">
			<button type="submit">
				<i class="fas fa-search"></i>
			</button>
			<input placeholder="Search Movie Name" name="title" />
			<button
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#expanded-form"
			>
				<i class="fas fa-filter"></i>
			</button>
		</form>
	</div>
	<nav class="nav nav-pills nav-fill">
		<a class="header-nav-item nav-link active" href="/user/home">Home</a>
		<li class="nav-item dropdown">
			<a class=" header-nav-item nav-link dropdown-toggle" data-bs-toggle="dropdown">All</a>
			<ul class="dropdown-menu">
			  <li><a class="dropdown-item" href="/user/actors">Actors</a></li>
			  <li><a class="dropdown-item" href="/user/directors">Directors</a></li>
			  <li><a class="dropdown-item" href="/user/genre">Genre</a></li>
			</ul>
		  </li>
		<li class="nav-item dropdown">
			<a class=" header-nav-item nav-link dropdown-toggle" data-bs-toggle="dropdown">Following</a>
			<ul class="dropdown-menu">
			  <li><a class="dropdown-item" href="/user/following/actors">Actors</a></li>
			  <li><a class="dropdown-item" href="/user/following/directors">Directors</a></li>
			  <li><a class="dropdown-item" href="/user/following/genre">Genre</a></li>
			</ul>
		  </li>
		<a class="header-nav-item nav-link" href="/reviews">Reviews</a>
	</nav>
</div>

<div class="collapse" id="expanded-form" >
	<div class="card card-body bg-secondary">
		<form method="GET">
			<input class="form-control mb-3" placeholder="Movie Name" name="title" />
			<select class="form-select mb-3" name="genre">
				<option value="" disabled hidden selected>Genre</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
			<select class="form-select mb-3" name="actor">
				<option value="" disabled hidden selected>Actor</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
			<select class="form-select mb-3" name="director">
				<option value="" disabled hidden selected>Director</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>
			<button type="submit" class="btn btn-primary" style="margin-left: 70.5%;">Search</button>
		</form>
	</div>
</div>


