<form method="GET" class="d-flex">
	<input class="form-control" type="text" style="margin-right: 1rem; background-color: var(--color-text-light);" name="title" placeholder="Search Actor">
	<button class="btn btn-primary" type="submit">Search</button>
</form>

<div class="grid-container">
	<% for(let i=0; i<10; i++) { %>
	<div class="movie-card card">
		<img
			src="https://i.pinimg.com/originals/d8/b6/f4/d8b6f4918c3d0e6ebc8440f8ab6c58a2.jpg"
			class="card-img-top"
			alt="..."
		/>
		<div class="text-center card-body">
			<h5 class="card-title movie-title">Card title</h5>
			<div class="movie-btn-grid">
				<button
					class="btn btn-primary"
					data-bs-toggle="collapse"
					data-bs-target="#collapse<%= i %>"
				>
					See More
				</button>
				<a href="#" class="movie-see-more btn btn-primary"
					>Actor Page</a
				>
			</div>
			<div class="collapse text-primary mt-3" id="collapse<%= i %>">
				<div class="card-body">
					Name: Vijay
					<br />
					Age: 42
				</div>
			</div>
		</div>
	</div>
	<% } %>
</div>

<a class="fixed-button btn" href="/admin/addActor"><i class="plus-sign fas fa-plus"></i></a>
