<h1 style="text-align: center;">Actors</h1>
<br>
<form method="GET" class="d-flex">
	<input class="form-control" type="text" style="margin-right: 1rem; background-color: var(--color-text-light);" name="title" placeholder="Search Actor">
	<button class="btn btn-primary" type="submit">Search</button>
</form>
<br>

<div class="grid-container">
	<% details.forEach((actor) => { %>
	<div class="movie-card card">
		<img
			src="/api/images/<%= actor.coverImage %>"
			class="card-img-top"
			alt="..."
		/>
		<div class="text-center card-body">
			<h5 class="card-title movie-title"><%= actor.name %></h5>
			<div class="follow-grid">
				<form method="post">
					<button type="submit" class="follow-button btn btn-primary">
						Follow
					</button>
				</form>
				<a href="/api/user/actor/<%= actor.id %>" class="btn btn-primary">Actor Page</a>
			</div>
		</div>
	</div>
	<% }) %>
</div>
