<h2 style="text-align: center;">Following Genres</h2>
<br>
<br>
<% details.forEach((genre) => { %>
    <div class="d-flex justify-content-between">
        <h3><%= genre.name %></h3>
        <form action="/api/user/follow/genre/<%= genre.id %>/isFollow?_method=PUT" method="post">
            <button type="submit" class="follow-button btn btn-primary">
                Unfollow
            </button>
        </form>
    </div>
    <hr>
    <div class="grid-container-small">
        <% genre.movies.forEach((movie) => { %>
            <div>
                <a href="/api/user/movie/show/<%= movie.id %>"><img class="director-movie movie-cover" src="/api/images/<%= movie.coverImage %>"></a>
            </div>
        <% }) %>
    </div>
    <br>
    <br>
    <br>
<% }) %>