<h2 style="text-align: center;">Following Directors</h2>
<div class="grid-container-small">
    <% details.forEach((director) => { %>
        <div>
            <a href="/api/user/director/<%= director.id %>"><img class="director-movie movie-cover" src="/api/images/<%= director.coverImage %>"></a>
            <form class="mt-4 d-flex justify-content-center" method="post">
                <button type="submit" class="follow-button btn btn-primary">
                    Unfollow
                </button>
            </form>
        </div>
    <% }) %>
</div>