<h2 style="text-align: center;">Following Actors</h2>
<div class="grid-container-small">
    <% details.forEach((actor) => { %>
        <div>
            <a href="/api/user/actor/<%= actor.id %>"><img class="director-movie movie-cover" src="/api/images/<%= actor.coverImage %>"></a>
            <form class="mt-4 d-flex justify-content-center" method="post">
                <button type="submit" class="follow-button btn btn-primary">
                    Unfollow
                </button>
            </form>
        </div>
    <% }) %>
</div>