<h2 style="text-align: center;">Following Genres</h2>
<br>
<br>
<% for(let i=0; i<2; i++) { %>
    <div class="d-flex justify-content-between">
        <h3>Genre<%= i %></h3>
        <form  method="post">
            <button type="submit" class="follow-button btn btn-primary">
                Unfollow
            </button>
        </form>
    </div>
    <hr>
    <div class="grid-container-small">
        <% for(let j=0; j<5; j++) { %>
            <div>
                <a href="#"><img class="director-movie movie-cover" src="https://i.pinimg.com/originals/d8/b6/f4/d8b6f4918c3d0e6ebc8440f8ab6c58a2.jpg"></a>
            </div>
        <% } %>
    </div>
    <br>
    <br>
    <br>
<% } %>