<div class="mt-5 d-flex justify-content-evenly">
    <div>
       <img class="movie-cover" src="https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_FMjpg_UX1000_.jpg">
       <div class="mt-3 justify-content-center d-flex">
          <button type="button" class="btn-movie btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
             Add a Review
          </button>
       </div>
    </div>
    <div class="movie-details-grid">
       <table class="movie-details-table">
          <tr>
             <td class="table-cell-alt"><div class="movie-details-label">Title</div></td>
             <td  class="table-cell"><div>Dark Knight</div></td>
          </tr>
          <tr>
             <td class="table-cell-alt"><div class="movie-details-label">Release Date</div></td>
             <td class="table-cell"><div>10/10/2009</div></td>
 
          </tr>
          <tr>
             <td class="table-cell-alt"><div class="movie-details-label">Runtime</div></td>
             <td class="table-cell"><div>120</div></td>
          </tr>
          <tr>
             <td class="table-cell-alt"><div class="movie-details-label">Genre</div></td>
             <td class="table-cell"><div>Crime</div></td>
          </tr>
          <tr>
             <td class="table-cell-alt"><div class="movie-details-label">Description</div></td>
             <td class="table-cell"><div>Very nice movie. Has good potential Hsbh as dasj ashdjak dhaskdh askjhsdjahs hasdja dahjdh asjdh as </div></td>
 
          </tr>
          <tr>
             <td class="table-cell-alt"><div class="movie-details-label">Rating</div></td>
             <td class="table-cell"><div>5</div></td>
          </tr>
       </table>
    </div>
 </div>
 <hr class="mt-5 mb-5">
 
 <!-- cast carousel -->
 <div class="d-flex cast-director justify-content-around">
    <div style="margin-right: 7rem;">
       <h2>Cast</h2>
       <div class="carousel-movie">
          <div id="carouselCast" class="carousel slide mt-4" data-bs-ride="carousel">
             <div class="carousel-indicators">
               <button type="button" data-bs-target="#carouselCast" data-bs-slide-to="0" class="active"></button>
               <button type="button" data-bs-target="#carouselCast" data-bs-slide-to="1"></button>
             </div>
             <div class="carousel-inner">
               <div class="carousel-item active">
                 <a href="#"><img src="https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_FMjpg_UX1000_.jpg" 
                   class="d-block movie-cover" alt="..."></a>
               </div>
               <div class="carousel-item">
                 <a href="#"><img src="https://i.pinimg.com/originals/d8/b6/f4/d8b6f4918c3d0e6ebc8440f8ab6c58a2.jpg" class="d-block movie-cover" alt="..."></a>
               </div>
             </div>
             <button class="carousel-control-prev" type="button" data-bs-target="#carouselCast" data-bs-slide="prev">
               <span class="carousel-control-prev-icon"></span>
               <span class="visually-hidden">Previous</span>
             </button>
             <button class="carousel-control-next" type="button" data-bs-target="#carouselCast" data-bs-slide="next">
               <span class="carousel-control-next-icon"></span>
               <span class="visually-hidden">Next</span>
             </button>
           </div>
       </div>
    </div>
    <div>
       <h2>Director</h2>
       <a href="#"><img class="mt-4 movie-cover" src="https://m.media-amazon.com/images/M/MV5BMTMxNTMwODM0NF5BMl5BanBnXkFtZTcwODAyMTk2Mw@@._V1_FMjpg_UX1000_.jpg"></a>
    </div>
 </div>
 <hr class="mt-5 mb-5">
 
 <!-- reviews -->
 <h2>Reviews</h2>
 <ul class="mt-3 list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        Cras justo odio
      </div>
      <span class="badge bg-primary rounded-pill">5</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        Cras justo odio
      </div>
      <span class="badge bg-primary rounded-pill">4</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">Subheading</div>
        Cras justo odio
      </div>
      <span class="badge bg-primary rounded-pill">3</span>
    </li>
 </ul>
 
 <!-- review modal -->
 <div style="color: var(--color-background-dark)" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add a Review</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form>
        <div class="modal-body">
                <div class="form-group">
                <label for="exampleFormControlInput1">Rating</label>
                <input name = "rating" type="number" class="form-control" min="0" max="5" id="exampleFormControlInput1" placeholder="Rating">
                </div>
                <div class="form-group">
                <label for="exampleFormControlTextarea1">Review</label>
                <textarea name = "review" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <form method="post">
             <button type="submit" class="btn btn-primary">Submit</button>
        </form>
          </form>
        </div>
      </div>
    </div>
  </div>